<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Bronek Szulc">
        <meta charset="utf-8">
        <title>Reddit Images</title>
        
        <link rel="shortcut icon" href="{{url_for('static', filename='favicon.ico')}}" />
        <link rel="stylesheet" type="text/css" href="/static/style.css" />
    </head>
    <body>
    	<div id="wrapper">
    		<ul>
    			<li>
    				<h1>Reddit's Front Page (images)!</h1>
    				<h3>{{date}}</h3>
    				<h3>{{time}}</h3>
    				<a href="http://www.reddit.com">"<img src="/static/alien.png"></a>
    			</li>
    		{% set counter = 1 %}
    		{% for image in images %}
    			<li>
    				<h2>Image {{counter + loop.index0}}</h2>
    				<img src="{{image}}" style="max-height: 610px; text-align: center;">
    			</li>
	    	{% endfor %}
    		</ul>
    	</div>
    </body>
</html>
